# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Node
node_modules/
dist/
build/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.pytest_cache/

# OS
.DS_Store

# Documentación para no rastrear cambios futuros localmente
REDEPLOY.md
